body {
    background-color: #2E9FA5;
}

.container {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px 20px 0 20px;
    background-color: #61DDBC;
}

/*768px*/
@media (min-width: 48em) {
    .container {
        width: 80%;
        max-width: 1280px;
        margin-left: auto;
        margin-right: auto;
    }
}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
}

li {
    flex-basis: 100%;
    margin-bottom: 20px;
    padding: 10px;
    color: #003D27;
    background-color: #C8FCEB;
    font-family: Arial, Helvetica, sans-serif;
}

/* 622px */
@media (min-width: 38.875em) {
    li {
        flex-basis: calc(50% - 15px);
    }
}

/* 1013px */
@media (min-width: 63.3125em) {
    li {
        flex-basis: calc(33.33% - 15px);
    }
}

/* 1328px */
@media (min-width: 83em) {
    li {
        flex-basis: calc(25% - 15px);
    }
}

li::before {
    padding-right: 0.875rem;
    font-size: 2rem;
}
